.icon {
  width: 200px;      /* アイコンの幅 */
  height: 200px;     /* アイコンの高さ */
  border-radius: 50%; /* アイコンを丸くしたい場合 */
  object-fit: cover;  /* 画像が歪まないようにトリミング */
  display: block;
  margin: 0 auto;      /* アイコンを中央に配置 */
}

.homeLink {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;

  padding: 10px 20px; /* 内側の余白 */
  text-align: center; /* テキストを中央揃え */
  cursor: pointer; /* カーソルをポインターに変更 */
  transition: transform 0.3s ease;
}

.homeLink:hover {
  color: #0070f3;    /* ホバー時の色 */
  transform: translateY(3px);
}

.home{
  margin: 0 auto; /* 中央に配置 */
  background-color: #f0f0f0; /* 背景色 */
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央揃え */
  margin-bottom: 20px; /* 下の余白 */
  padding: 10px 0;
}